body {
    background-color: black;
    margin: auto;
    margin-top: 100px;
    height: 480px;
    width: 800px;
    background-repeat: no-repeat;
    background-position: center;
}

#startDiv {
    text-align: center;
    padding-top: 150px;
}

#restartDiv {
    text-align: right;
    visibility: hidden;
    padding-top: 75px;
    padding-right: 25px;
}

#startButton {
    background-image: url('../images/start-restart/start.png');
    width: 190px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
}

#restartButton {
    background-image: url('../images/start-restart/restart.png');
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
